src/main/scala/xiangshan/frontend/ @Gao-Zeyu
src/main/scala/xiangshan/frontend/bpu/ @eastonman @Gao-Zeyu
src/main/scala/xiangshan/frontend/ftq/ @Yan-Muzi @Gao-Zeyu
src/main/scala/xiangshan/frontend/ibuffer/ @Gao-Zeyu
src/main/scala/xiangshan/frontend/icache/ @ngc7331 @Gao-Zeyu
src/main/scala/xiangshan/frontend/ifu/ @ngc7331 @my-mayfly @Gao-Zeyu
src/main/scala/xiangshan/frontend/instruncache/ @ngc7331 @Gao-Zeyu

src/main/scala/xiangshan/backend/ @lewislzh
src/main/scala/xiangshan/backend/Region.scala @xiaofeibao-xjtu @lewislzh
src/main/scala/xiangshan/backend/CtrlBlock.scala @wissygh @lewislzh
src/main/scala/xiangshan/backend/ctrlblock/ @wissygh @lewislzh
src/main/scala/xiangshan/backend/datapath/ @xiaofeibao-xjtu @lewislzh
src/main/scala/xiangshan/backend/decode/ @HeiHuDie @lewislzh
src/main/scala/xiangshan/backend/dispatch/ @xiaofeibao-xjtu @lewislzh
src/main/scala/xiangshan/backend/exu/ @sinceforYy @lewislzh
src/main/scala/xiangshan/backend/fu/ @sinceforYy @lewislzh
src/main/scala/xiangshan/backend/fu/NewCSR/ @huxuan0307 @lewislzh
src/main/scala/xiangshan/backend/issue/ @xiaofeibao-xjtu @lewislzh
src/main/scala/xiangshan/backend/regcache/ @xiaofeibao-xjtu @lewislzh
src/main/scala/xiangshan/backend/regfile/ @xiaofeibao-xjtu @lewislzh
src/main/scala/xiangshan/backend/rename/ @Tang-Haojin @lewislzh
src/main/scala/xiangshan/backend/rob/ @NewPaulWalker @xiaofeibao-xjtu @lewislzh
src/main/scala/xiangshan/backend/trace/ @wissygh @lewislzh

src/main/scala/xiangshan/cache/ @linjuanZ
src/main/scala/xiangshan/cache/dcache/ @Maxpicca-Li @linjuanZ
src/main/scala/xiangshan/cache/mmu/ @good-circle @cebarobot @linjuanZ
src/main/scala/xiangshan/cache/wpu/ @Maxpicca-Li @linjuanZ

src/main/scala/xiangshan/mem/ @linjuanZ
src/main/scala/xiangshan/mem/lsqueue/ @good-circle @linjuanZ
src/main/scala/xiangshan/mem/mdp/ @weidingliu @linjuanZ
src/main/scala/xiangshan/mem/pipeline/ @good-circle @linjuanZ
src/main/scala/xiangshan/mem/prefetch/ @happy-lx @Maxpicca-Li @linjuanZ
src/main/scala/xiangshan/mem/sbuffer/ @good-circle @linjuanZ
src/main/scala/xiangshan/mem/vector/ @weidingliu @good-circle @linjuanZ

src/main/scala/xiangshan/L2Top.scala @linjuanZ
src/main/scala/xiangshan/XSTile.scala @linjuanZ

coupledL2/ @linjuanZ
huancun/ @linjuanZ

src/main/scala/top/ @Tang-Haojin

scripts/pdb-run.py @yaozhicheng @forever043 @SFangYy @Tang-Haojin 
scripts/xspdb/ @yaozhicheng @forever043 @SFangYy @Tang-Haojin 
