[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/OpenXiangShan/rocket-chip.git
[submodule "block-inclusivecache-sifive"]
	path = block-inclusivecache-sifive
	url = https://github.com/OpenXiangShan/block-inclusivecache-sifive.git
[submodule "berkeley-hardfloat"]
	path = berkeley-hardfloat
	url = https://github.com/OpenXiangShan/berkeley-hardfloat.git
[submodule "difftest"]
	path = difftest
	url = https://github.com/OpenXiangShan/difftest.git
[submodule "utility"]
	path = utility
	url = git@github.com:OpenXiangShan/Utility.git
