tageTableNumSetsLog2_0_0 5
tageTableNumSetsLog2_0_1 6
tageTableNumSetsLog2_0_2 9
tageTableNumSetsLog2_0_3 10
tageTableNumSetsLog2_0_4 9
tageTableNumSetsLog2_0_5 8
tageTableNumSetsLog2_0_6 7
tageTableNumSetsLog2_0_7 8
tageTableNumWays_0_0 8
tageTableNumWays_0_1 3
tageTableNumWays_0_2 4
tageTableNumWays_0_3 3
tageTableNumWays_0_4 3
tageTableNumWays_0_5 5
tageTableNumWays_0_6 1
tageTableNumWays_0_7 3
tageTableTagWidth_0_0 15
tageTableTagWidth_0_1 11
tageTableTagWidth_0_2 8
tageTableTagWidth_0_3 11
tageTableTagWidth_0_4 18
tageTableTagWidth_0_5 18
tageTableTagWidth_0_6 15
tageTableTagWidth_0_7 17
tageUsefulCtrWidth_0 2
