tageTableNumSetsLog2_0_0 9
tageTableNumSetsLog2_0_1 9
tageTableNumSetsLog2_0_2 9
tageTableNumSetsLog2_0_3 9
tageTableNumSetsLog2_0_4 9
tageTableNumSetsLog2_0_5 9
tageTableNumSetsLog2_0_6 9
tageTableNumSetsLog2_0_7 9
tageTableNumWays_0_0 2
tageTableNumWays_0_1 2
tageTableNumWays_0_2 2
tageTableNumWays_0_3 2
tageTableNumWays_0_4 2
tageTableNumWays_0_5 2
tageTableNumWays_0_6 2
tageTableNumWays_0_7 2
tageTableTagWidth_0_0 13
tageTableTagWidth_0_1 13
tageTableTagWidth_0_2 13
tageTableTagWidth_0_3 13
tageTableTagWidth_0_4 13
tageTableTagWidth_0_5 13
tageTableTagWidth_0_6 13
tageTableTagWidth_0_7 13
tageUsefulCtrWidth_0 2
