tageTableNumSetsLog2_0_0 6
tageTableNumSetsLog2_0_1 6
tageTableNumSetsLog2_0_2 9
tageTableNumSetsLog2_0_3 10
tageTableNumSetsLog2_0_4 9
tageTableNumSetsLog2_0_5 9
tageTableNumSetsLog2_0_6 8
tageTableNumSetsLog2_0_7 9
tageTableNumWays_0_0 2
tageTableNumWays_0_1 3
tageTableNumWays_0_2 2
tageTableNumWays_0_3 3
tageTableNumWays_0_4 3
tageTableNumWays_0_5 2
tageTableNumWays_0_6 2
tageTableNumWays_0_7 1
tageTableTagWidth_0_0 15
tageTableTagWidth_0_1 18
tageTableTagWidth_0_2 16
tageTableTagWidth_0_3 11
tageTableTagWidth_0_4 18
tageTableTagWidth_0_5 11
tageTableTagWidth_0_6 13
tageTableTagWidth_0_7 13
tageUsefulCtrWidth_0 2
