name: Performance Regression V3

on:
  schedule:
    #run at 4:00 UTC (12:00 UTC+8) on Friday
    - cron: '0 4 * * 5'
  workflow_dispatch:
    {}

jobs:
  performance-test:
    uses: ./.github/workflows/perf-template.yml
    with:
      test_branch: kunminghu-v3
      spec_dir: /nfs/home/cirunner/perf-report-kmhv3
