name: Performance Regression Template (Unified)

on:
  workflow_call:
    inputs:
      test_branch:
        description: Branch or commit to run performance test on
        required: true
        type: string
      recompile:
        description: Recompile the emu
        required: false
        type: string
        default: false
      emulator:
        description: emulator to use
        required: false
        type: string
        default: gsim
      xs_config:
        description: Config for XiangShan core
        required: false
        type: string
        default: KunminghuV2Config
      benchmark_type:
        required: false
        type: string
        description: Benchmark type
        default: spec06-1.0c
      benchmarks:
        description: Specific benchmarks to run (comma-separated), leave empty to run all
        required: false
        type: string
        default: ''
      servers:
        description: Servers to run emulation on, leave empty to let the script select
        required: false
        type: string
        default: ''
      perf_report_dir:
        description: Directory for all spec reports
        required: true
        type: string

jobs:
  run:
    runs-on: node
    continue-on-error: false
    #At most 2 days to finish
    timeout-minutes: 7200
    name: Checkpoints
    steps:
      - name: Set benchmark configuration
        run: |
          case "${{ inputs.benchmark_type }}" in
            "spec06-0.3c")
              echo "CKPT_JSON_PATH=/nfs/home/share/ci-workloads/json/gcc12o3-incFpcOff-jeMalloc-0.3.json" >> $GITHUB_ENV
              ;;
            "spec06-0.8c")
              echo "CKPT_JSON_PATH=/nfs/home/share/ci-workloads/json/gcc12o3-incFpcOff-jeMalloc-0.8.json" >> $GITHUB_ENV
              ;;
            "spec06-1.0c")
              echo "CKPT_JSON_PATH=/nfs/home/share/checkpoints_profiles/spec06_rv64gcb_O3_20m_gcc12.2.0-intFpcOff-jeMalloc/checkpoint-0-0-0/cluster-0-0.json" >> $GITHUB_ENV
              ;;
          esac

      - name: Set test branch or commit
        id: set_test
        run: |
          echo "Using specified branch: ${{ inputs.test_branch }}"
          echo "commit_sha=${{ inputs.test_branch }}" >> $GITHUB_OUTPUT

      - name: Checkout code at specific commit
        uses: actions/checkout@v4
        with:
          ref: ${{ steps.set_test.outputs.commit_sha }}
          fetch-depth: 0
          submodules: true

      - name: Set env
        run: |
          SHORT_SHA=$(git rev-parse --short HEAD)
          DATE=$(git show -s --format=%cd --date=format:%y%m%d HEAD)
          echo "SERVER_LIST=${{ inputs.servers }}" >> $GITHUB_ENV
          echo "SCRIPTS_HOME=/nfs/home/share/ci-workloads/env-scripts" >> $GITHUB_ENV
          echo "SPEC_DIR=${{ inputs.perf_report_dir }}/cr${DATE}-${SHORT_SHA}-${{ inputs.xs_config }}" >> $GITHUB_ENV
          echo "CKPT_HOME=/nfs/home/share/checkpoints_profiles/spec06_rv64gcb_O3_20m_gcc12.2.0-intFpcOff-jeMalloc/checkpoint-0-0-0" >> $GITHUB_ENV

      - name: Initialize submodules
        run: make init-force

      - name: Clean Up
        run: |
          python3 $GITHUB_WORKSPACE/scripts/xiangshan.py --clean

      - name: Build EMU with DRAMsim3
        run: |
          if [ ! -e "$SPEC_DIR/emu" ] || [ "${{ inputs.recompile }}" = "true" ]; then
            python3 $GITHUB_WORKSPACE/scripts/xiangshan.py --build \
              --config "${{ inputs.xs_config }}" \
              --dramsim3 /nfs/home/share/ci-workloads/DRAMsim3 --with-dramsim3 \
              --threads $([ "${{ inputs.emulator }}" = "gsim" ] && echo 1 || echo 8) \
              --pgo $GITHUB_WORKSPACE/ready-to-run/coremark-2-iteration.bin \
              --llvm-profdata llvm-profdata --trace-fst \
              --emulator ${{ inputs.emulator }}
            mkdir -p $SPEC_DIR
            cp $GITHUB_WORKSPACE/build/emu $SPEC_DIR/emu
          fi
          if [ ! -e "$SPEC_DIR/riscv64-nemu-interpreter-so" ]; then
            cp $GITHUB_WORKSPACE/ready-to-run/riscv64-nemu-interpreter-so $SPEC_DIR/riscv64-nemu-interpreter-so
          fi

      - name: Run SPEC CPU2006 checkpoints
        run: |
          cd $SCRIPTS_HOME/perf_trigger
          python3 main.py --gcpt-path $CKPT_HOME --json-path $CKPT_JSON_PATH \
            --emu-path $SPEC_DIR/emu --result-path $SPEC_DIR \
            --threads $([ "${{ inputs.emulator }}" = "gsim" ] && echo 1 || echo 8) \
            --benchmarks "${{ inputs.benchmarks }}" \
            --server-list "$SERVER_LIST" \
            --nemu-so-path $SPEC_DIR/riscv64-nemu-interpreter-so \
            --log-level ${{ runner.debug && 'DEBUG' || 'INFO' }} \
            --run

      - name: Report SPEC CPU2006 score
        if: always()
        run: |
          cd $SCRIPTS_HOME/perf
          python3 xs_autorun_multiServer.py $CKPT_HOME $CKPT_JSON_PATH \
            --benchmarks "${{ inputs.benchmarks }}" \
            --xs $GITHUB_WORKSPACE --threads 16 --dir $SPEC_DIR --report \
            > $SPEC_DIR/score.txt

      - name: Summary result
        if: always()
        run: |
          echo "### :rocket: Performance Test Result" >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
          echo "$SPEC_DIR/score.txt" >> $GITHUB_STEP_SUMMARY
          cat $SPEC_DIR/score.txt >> $GITHUB_STEP_SUMMARY
          echo '' >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
          
          echo "### :rainbow: Key Indicators" >> $GITHUB_STEP_SUMMARY
          echo "Estimated SPEC CPU2006 Score per GHz: " >> $GITHUB_STEP_SUMMARY
          TOTAL_SCORE=$(grep "SPEC2006/GHz:" $SPEC_DIR/score.txt | awk '{print $NF}')
          INT_SCORE=$(grep "SPECint2006/GHz" $SPEC_DIR/score.txt | awk '{print $(NF-1)}')
          FP_SCORE=$(grep "SPECfp2006/GHz" $SPEC_DIR/score.txt | awk '{print $(NF-1)}')
          echo "- int: **${INT_SCORE}**" >> $GITHUB_STEP_SUMMARY
          echo "- fp: **${FP_SCORE}**" >> $GITHUB_STEP_SUMMARY
          echo "- total: **${TOTAL_SCORE}**" >> $GITHUB_STEP_SUMMARY
