name: Performance Regression V2

on:
  workflow_dispatch:
    {}

jobs:
  performance-test:
    uses: ./.github/workflows/perf-template.yml
    with:
      test_branch: master
      spec_dir: /nfs/home/cirunner/perf-report-master
