name: Performance Regression Trigger

run-name: "${{ github.event.inputs.note }} - ${{ github.event.inputs.test_branch }} - ${{ github.event.inputs.benchmark_type }} - ${{ github.event.inputs.xs_config }}"

on:
  workflow_dispatch:
    inputs:
      note:
        description: Test note, will be displayed in the title
        required: false
        type: string
        default: Performance Regression
      test_branch:
        description: Branch or commit to run performance test on
        required: false
        type: string
        default: kunminghu-v3
      recompile:
        description: Recompile the emu
        required: false
        type: choice
        options:
          - false
          - true
        default: false
      emulator:
        description: emulator to use
        required: false
        type: choice
        options:
          - gsim
          - verilator
        default: gsim
      xs_config:
        description: Config for XiangShan core
        required: false
        type: choice
        options:
          - CHIConfig
          - TLConfig
          - TLBackendV2Config
        default: CHIConfig
      benchmark_type:
        description: Benchmark type
        required: false
        type: choice
        options:
          - gcc15-spec06-1.0c
          - xscc-spec06-1.0c
          - gcc12-spec06-0.3c
          - gcc12-spec06-0.8c
          - gcc12-spec06-1.0c
          - custom
        default: gcc15-spec06-1.0c
      benchmarks:
        description: Specific benchmarks to run (comma-separated), leave empty to run all
        required: false
        type: string
      servers:
        description: Servers to run emulation on, leave empty to let the script select
        required: false
        type: string
      checkpoint_path:
        description: Directory for SPEC06 checkpoints. Ignore this unless benchmark_type is set to custom
        required: false
        type: string
      json_path:
        description: JSON file path for SPEC06 checkpoints. Ignore this unless benchmark_type is set to custom
        required: false
        type: string

jobs:
  performance-test:
    uses: ./.github/workflows/perf-template.yml
    with:
        test_branch: ${{ github.event.inputs.test_branch }}
        recompile: ${{ github.event.inputs.recompile }}
        emulator: ${{ github.event.inputs.emulator }}
        xs_config: ${{ github.event.inputs.xs_config }}
        benchmark_type: ${{ github.event.inputs.benchmark_type }}
        benchmarks: ${{ github.event.inputs.benchmarks }}
        servers: ${{ github.event.inputs.servers }}
        checkpoint_path: ${{ github.event.inputs.checkpoint_path }}
        json_path: ${{ github.event.inputs.json_path }}
        perf_report_dir: /nfs/home/cirunner/perf-report-custom
