name: Release Jobs

on:
  push:
    branches: [ master, kunminghu-v3 ]
  pull_request:
    branches: [ master, kunminghu-v3 ]

jobs:
  build-xsdev-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Initialize submodules 
        run: make init-force

      - uses: docker/metadata-action@v5
        id: metadata
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/xsdev
          tags: |
            master
          labels: |
            maintainer=${{ github.repository_owner }}

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64
          push: ${{ github.ref == 'refs/heads/master' }}
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}

  build-xspdb:
    runs-on: [self-hosted, xspdb]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - name: set env
        run: |
          echo "NOOP_HOME=$GITHUB_WORKSPACE" >> $GITHUB_ENV
          echo "PDB_HOME=${GITHUB_WORKSPACE}/build/xspdb" >> $GITHUB_ENV
          FILE_TIME=$(date +%Y%m)
          FILE_SHA=$(git rev-parse --short HEAD)
          FILE_NAME="XSPdb-${FILE_TIME}-${FILE_SHA}.tar.bz2"
          echo "FILE_NAME=$FILE_NAME" >> $GITHUB_ENV
      - name: submodule init
        run: make init
      - name: check picker availability
        run: |
          echo "Checking picker command..."
          picker --check || echo "picker not exist"
      - name: build XSPdb 
        run: |
          source /nfs/share/unitychip/activate
          make pdb
          make package-pdb
          mv ${{ env.PDB_HOME}}/XSPdb.tar.bz2 "${{ env.PDB_HOME }}/${{ env.FILE_NAME }}"
      - name: test run pdb (PR only)
        if: github.event_name == 'pull_request'
        run: |
          source /nfs/share/unitychip/activate
          cd build/xspdb
          tar -xjf "${FILE_NAME}"
          cd XSPdb
          make pdb-run
      - name: upload compressed XSPdb package (pr merge only)
        if: github.event_name == 'push' && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/kunminghu-v3')
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.FILE_NAME }}
          path: build/xspdb/${{ env.FILE_NAME }}

